<main class="holder">
       <h2>Galeria</h2>
       <div class="foto">
           <img src="images/galeria1.png" alt="" width="90%">
       </div>
       <div class="foto">
           <img src="images/galeria2.jpg" alt="" width="90%">
       </div>
       <div class="foto">
           <img src="images/galeria3.jpg" alt="" width="90%">
       </div>
       <div class="foto">
           <img src="images/galeria4.jpg" alt="" width="90%">
       </div>
       <div class="foto">
           <img src="images/galeria5.jpg" alt="" width="90%">
       </div>
       <div class="foto">
           <img src="images/galeria6.jpg" alt="" width="90%">
       </div>
       <div class="foto">
           <img src="images/galeria7.jpg" alt="" width="90%">
       </div>




    </main>