<main class="holder">
   
        <div class="columnas">
            <div class="Bienvenidos left">
                <h1>Bienvenidos</h1>
                <p> Hotel El Descanso ubicado a orillas del Mar Caribe ofrece una experiencia única por sus vistas y su
                    excelente servicio. Nos encontramos en la ciudad de Belice a unos 150km de la ciudad capital.</p>
            </div>
            <div class="Testimonios right">
                <h2>Testimonio</h1>
              <span class="cita"> Simplemente excelente!</span>
              <span class="autor">Carlos Stevenson- barplaya.com</span> 
            </div>
        </div>
    </main>